.blog_content {
    border-top: #6C757D 1px solid;
    padding-bottom: 80px;
    @media (max-width: 767px) {
    padding-bottom: 64px;
  }
}

.intro {
    padding-top: 80px;
}

.blog_content h2 {
    color: #0027D5;
    font-weight: 700;
    font-size: 28px;
}

.blog_content h3 {
    font-weight: 700;
    font-size: 20px;
}

.content_desc {
 width: 636px;
 margin: auto;
 padding-top: 48px;
 gap: 48px;
 display: flex;
 flex-direction: column;
    @media (max-width: 767px) {
  width: 100%;
  }
}

.desc_content {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.content_text a {
    color: #0027d5;
}

.content_text a:hover {
    text-decoration: underline;
}

.content_text h3 {
    padding-bottom: 12px;
}

.content_text p {
    padding-bottom: 8px;
}


.content_text ul {
    margin-left: 1.5em;
}

.list-style-decimal {
    list-style: decimal;
}

.content_text li {
  list-style: disc;
}

.note {
    background: #EDEDED;;
    width: 100%;
    height: auto;
    border-radius: 24px;
    padding: 24px;
    font-weight: 700;
}