@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  color: #000;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

* {
  /* outline: solid 1px #cc0000; */
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

ul,
li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a:hover {

}

a:focus,
a:hover {
  text-decoration: none;
}

.clear {
  clear: both;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}


.footer {
  text-align: center;
  padding: 24px 0;
}

h2 {
  font-weight: 700;
  font-size: 64px;
  @media (max-width: 767px) {
     font-size: 48px;
  }
}

.fs-3 {
    font-size: 28px;

}
  
.fs-4 {
    font-size: 24px;
}
  
.fs-6 {
  font-size: 16px;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.mt-24 {
  margin-top: 24px;
}

.border-bottom-1 {
    border-bottom: #6C757D 1px solid;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  @media (max-width: 1290px) {
    max-width: 100%;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    padding: 0px 12px 0px 12px;
  }
}
  
.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    @media (max-width: 767px) {
    padding: 0px;
    }
}


/* header */
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:40px;
  padding: 24px 0;
}

.navbar-list li a {
  color: #000;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0%;  
}

.navbar-list li a:hover {
  color: #0027D5;
}

/* hero */
.heroWrap {
  width: 100%;
  height: calc(100vh - 90px);
}

.blogWrap {
height: auto;
}

.hero {
  display: flex;
  flex-direction: row;
  @media (max-width: 767px) {
  flex-direction: column;
    }
}

.section_L {
  width: 50%;
    @media (max-width: 767px) {
  width: 100%;
    }
}

.section_R {
  width: 50%;
  background-image: url(/images/desktop/index/Hero\ Section2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
  width: 100%;
  }
}

.section_R .title {
  color: #0027D5;
  width: 100%;
  padding-left: 80px;
    @media (max-width: 767px) {
    padding: 24px 24px 40px 24px;
  }
}

.section_R h1 {
  font-weight: 900;
  font-size: 120px;
  padding-bottom: 12px;
  @media (max-width: 1710px) {
        font-size: calc(((100vw / 2) - 160px) / 6);
    }
   @media (max-width: 767px) {
     font-size: 52px;
  }
}

.section_R p {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0%;
}

.intro_text {
  width: 100%;
  position: relative;
  margin-bottom: -160px;
  right: 0;
  bottom: 160px;
    @media (max-width: 1366px) {
    margin-bottom: -80px;
    bottom: 80px;
  }
    @media (max-width: 767px) {
    margin-bottom: 0px;
    bottom: 0px;
  }
}

.hero_desc {
  width: 56%;
  height: 362px;
  background-color: #FFF;
  padding: 80px 40px;
  margin-right: 80px;
  margin-left: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
    @media (max-width: 767px) {
   width: 100%;
   height: auto ;
     padding: 40px 24px;

  }
}

.hero_desc p {
  font-size: 28px;
    @media (max-width: 767px) {
      font-size: 24px;
    }
}

.hero_desc ul {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
